@use "sass:map";

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

a,
button,
input {
  transition: all 260ms ease-in-out;
}

// Font & Font Weight
$font: "Hanken Grotesk", sans-serif;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;

// Colors
$colors: (
  primary: #f4f1e6,
  secondary: #ff3b00,
  secondary-light: #fa6a3e,
  secondary-lighter: #fae2db,
  tertiary: rgb(64, 89, 121),
);

@function color($name) {
  @return map.get($colors, $name);
}

// Base Elements
html {
  overflow-x: hidden;
}

body {
  font-family: $font;
  font-weight: $regular;
  font-size: 1.125rem; // 18px
  font-optical-sizing: auto;
  font-kerning: normal;
  -webkit-font-kerning: normal;
  text-rendering: geometricPrecision;
  letter-spacing: 0.15px;
  background: color(primary) url("/assets/bg.svg") no-repeat top/100%;
  color: color(secondary);
  margin: 0 auto;
  overflow-wrap: break-word;
  max-width: 100vw;
  overflow-x: hidden;
}

.mdc-layout-grid__inner {
  max-width: 1300px;
  margin: 0 auto;
}

h2 {
  font-size: 4.625rem; // 74px;
  font-weight: $extrabold;
  text-transform: uppercase;
  margin: 0;
  @media (max-width: 539px) {
    font-size: 34px;
  }
}

h3 {
  font-size: 1.25rem; // 20px
  font-weight: $bold;
  margin-bottom: 0;
}

p {
  font-size: 1.125rem; // 18px
  line-height: 1.5;
  @media (min-width: 540px) and (max-width: 839px) {
    font-size: 1.25rem; // 20px
  }
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #5b663b;
}

ul {
  list-style: none;
  padding-left: 0;
}

.text-xl {
  font-size: 210px;
  line-height: 1;
  font-weight: $extrabold;
  margin: 1.5rem auto 40px;
  text-transform: uppercase;
  margin-bottom: 0;
  @media (max-width: 539px) {
    font-size: 64px;
  }
  @media (min-width: 540px) and (max-width: 1023px) {
    font-size: 120px;
  }
}

.text-lg {
  font-size: 180px;
  line-height: 1;
  font-weight: $extrabold;
  margin: 1.5rem auto 40px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  @media (min-width: 840px) and (max-width: 1023px) {
    font-size: 140px;
  }
  @media (min-width: 540px) and (max-width: 839px) {
    font-size: 100px;
  }
  @media (max-width: 539px) {
    font-size: 60px;
  }
}

.text-md {
  font-size: 40px;
  font-weight: $regular;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0;
  @media (max-width: 839px) {
    font-size: 28px;
  }
}

// Navbar
.navbar {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  padding: 12px 20px;
  backdrop-filter: blur(10px);
  border-bottom: 0.5px solid color(secondary);

  a,
  span {
    font-size: 18px;
    color: color(secondary);
    transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 0.6;
    }
  }

  .nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-menu {
      display: flex;
      align-items: center;
      gap: 40px;

      li {
        list-style: none;
      }
      .nav-item--social {
        display: flex;
        gap: 14px;
      }
    }

    /* Hamburger Icon */
    .hamburger {
      display: none;
      flex-direction: column;
      justify-content: center;
      cursor: pointer;
      z-index: 1100;

      .bar {
        background-color: color(secondary);
        width: 28px;
        height: 3px;
        margin: 2px 0;
        border-radius: 2px;
        transition: all 0.3s ease-in-out;
      }

      &.active {
        .bar:nth-child(1) {
          transform: translateY(7px) rotate(45deg);
        }
        .bar:nth-child(2) {
          opacity: 0;
        }
        .bar:nth-child(3) {
          transform: translateY(-7px) rotate(-45deg);
        }
      }
    }

    /* Mobile Styles */
    @media screen and (max-width: 839px) {
      .hamburger {
        display: flex;
      }

      .nav-menu {
        position: fixed;
        top: 0;
        right: -100%;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding-top: 30%;
        gap: 2rem;
        width: 70%;
        height: 100vh;
        background: color(primary);
        transition: right 0.3s ease-in-out;
        border-left: 0.5px solid color(secondary);
        &.active {
          right: 0;
        }

        a {
          font-size: 24px;
          font-weight: 600;
          img {
            width: 44px;
            height: 44px;
          }
        }
      }
    }
  }
}

.skill-box {
  border-radius: 30px;
  border: 1px solid color(secondary);
  color: color(secondary);
  width: fit-content;
  padding: 6px 18px;
}

.intro {
  position: relative;
  margin-top: 74px;
  padding-top: 6rem;
  padding-bottom: 6rem;

  .intro-header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    h1 {
      margin-left: -10px;
      @media (max-width: 1339px) {
        font-size: 120px;
        margin: 0;
      }
      @media (max-width: 539px) {
        font-size: 74px;
        margin: 0;
      }
    }

    .intro-skills {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      max-width: 70%;

      .skill-box {
        transition: all 0.2s ease;

        &:hover {
          transform: translateY(-4px);
          background-color: color(secondary-lighter);
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        }
      }
    }
  }

  .intro-img {
    width: 42%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    opacity: 0.9;
    border-left: 0.5px solid color(secondary);
  }
  @media (max-width: 839px) {
    padding-top: 4rem;
    padding-bottom: 3rem;
    .intro-header {
      gap: 10px;
    }
    .intro-img {
      filter: grayscale(1);
      opacity: 0.4 !important;
    }
  }
}

.tickerwrapper {
  color: color(primary);
  background-color: color(tertiary);
  height: 48px;
  line-height: 48px;
  width: 100%;
  overflow-x: hidden;
  cursor: pointer;
  position: relative;

  ul.list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;

    li {
      font-size: 16px;
      padding: 0 80px;
      flex-shrink: 0;

      a {
        color: color(primary);
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.projects {
  padding-top: 6rem;
  padding-bottom: 4rem;
  color: color(tertiary);
  background-color: color(primary);
  align-items: start;

  @media screen and (min-width: 1024px) {
    .projects-left {
      position: sticky;
      top: 100px;
      height: fit-content;
    }

    .projects-right {
      display: flex;
      flex-direction: column;
    }
  }

  .projects-container {
    .project {
      transition: all 0.2s;
      display: flex;
      align-items: flex-start;
      gap: 20px;
      padding: 20px;
      margin-bottom: 20px;
      border: 1px solid transparent;
      h3,
      p {
        color: color(tertiary);
      }
      h3 {
        margin-top: 0;
        text-transform: uppercase;
      }
      p {
        font-size: 1rem;
        margin-top: 4px;
        margin-bottom: 0;
      }
      .project-poster {
        img,
        video {
          margin-top: 5px;
          @media (max-width: 889px) {
            width: 100%;
            height: auto;
          }
        }
      }

      @media screen and (min-width: 1024px) {
        &:hover {
          background-color: color(secondary-lighter);
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
          border: 1px solid color(secondary);
          transform: translateY(-4px);
          h3,
          p {
            color: color(secondary);
          }
          img,
          video {
            filter: grayscale(1);
          }
        }
      }
    }
    @media (max-width: 889px) {
      display: flex;
      flex-direction: column;
      .project {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0;
        h3 {
          font-size: 22px;
        }
        p {
          font-size: 18px;
        }
      }
    }
  }
  @media (max-width: 1023px) {
    padding-top: 4rem;
    .projects-wrapper {
      display: flex;
      flex-direction: column;
    }
  }
}

.about {
  color: color(primary);
  background-color: color(tertiary);
  padding-top: 4rem;
  padding-bottom: 2rem;
  a {
    color: color(secondary-light);
    text-decoration: underline;
    &:hover {
      color: color(primary);
    }
  }
  @media screen and (min-width: 1024px) {
    padding-top: 8rem;
    padding-bottom: 8rem;
    h2 {
      margin-top: -24px;
    }
    h3 {
      margin-left: 40px;
    }
  }
}

#contact {
  padding-bottom: 4rem;
  .contact-info .contact-details {
    display: flex;
    gap: 60px;

    a {
      color: color(secondary);
      display: flex;
      align-items: center;
      gap: 10px;
      &:hover {
        opacity: 0.5;
      }
    }
    @media screen and (max-width: 539px) {
      display: flex;
      flex-direction: column;
      gap: 14px;
    }
  }

  @media screen and (min-width: 1024px) {
    padding-top: 2rem;
    padding-bottom: 6rem;
  }
}

#footer {
  font-size: 16px;
  color: color(primary);
  background-color: color(secondary);
  padding-top: 1rem;
  padding-bottom: 1rem;
}
