* {
  box-sizing: border-box;
  transition: all 260ms;
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

body {
  background-image: url("/assets/bg.svg");
  background-size: 100%;
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  font-optical-sizing: auto;
  font-kerning: normal;
  -webkit-font-kerning: normal;
  text-rendering: geometricPrecision;
  letter-spacing: 0.15px;
  background-color: #f4f1e6;
  color: #ff3b00;
  overflow-wrap: break-word;
  margin: 0 auto;
}

.mdc-layout-grid__inner {
  max-width: 1300px;
  margin: 0 auto;
}

h2 {
  font-size: 74px;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 0;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #5b663b;
}

ul {
  list-style: none;
  padding-left: 0;
}

.text-xl {
  font-size: 210px;
  line-height: 1;
  font-weight: 800;
  margin: 1.5rem auto 40px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.text-lg {
  font-size: 160px;
  font-weight: 800;
  line-height: 1.1;
  margin-top: 0;
}

.text-md {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.2;
  margin-top: 0;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  padding: 12px;
  border-bottom: 0.5px solid #e7ecd7;
}
.navbar a,
.navbar span {
  font-size: 16px;
  color: #ff3b00;
}
.navbar a:hover,
.navbar span:hover {
  opacity: 0.5;
}
@media screen and (min-width: 840px) {
  .navbar .nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
.navbar .nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .nav-content .nav-menu {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
}
.navbar .nav-content .hamburger {
  display: none;
  cursor: pointer;
}
.navbar .nav-content .hamburger .bar {
  display: block;
  width: 26px;
  height: 3px;
  border-radius: 4px;
  margin: 5px auto;
  --webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 839px) {
  .navbar .nav-content .hamburger {
    display: block;
  }
  .navbar .nav-content .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .navbar .nav-content .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .navbar .nav-content .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .navbar .nav-content .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    gap: 40px;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 60px 0 40px;
    transition: 0.3s;
  }
  .navbar .nav-content .nav-menu.active {
    left: 0;
  }
}

.intro {
  margin-top: 34px;
  padding-bottom: 10rem;
}

.intro-img {
  width: 540px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 4rem;
  right: 0;
  z-index: -1;
  opacity: 0.6;
}

.services {
  background-color: rgba(220, 229, 195, 0.4117647059);
  padding-top: 6rem;
  padding-bottom: 8rem;
  position: relative;
}
.services .services-intro {
  padding-right: 40px;
}
.services .services-content {
  max-width: 80%;
  padding-bottom: 24px;
  margin-left: 40px;
}
.services .services-content:not(:nth-child(3)) {
  border-bottom: 1px solid #e4e6dd;
}
.services .services-content a {
  color: #5f6a3e;
  text-decoration: underline;
}
.services .services-content a:hover {
  color: #ff3b00;
}
.services img {
  position: absolute;
  left: 0;
  bottom: 10%;
  width: 440px;
  height: auto;
  rotate: 90deg;
}

.tickerwrapper {
  color: #f4f1e6;
  background-color: #ff3b00;
  position: relative;
  padding: 12px 0 10px;
  top: 0;
  left: 0;
  width: 99.9%;
  overflow: hidden;
  cursor: pointer;
}
.tickerwrapper ul.list {
  position: relative;
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
}
.tickerwrapper ul.list li {
  font-size: 16px;
  float: left;
  padding-left: 160px;
}
.tickerwrapper ul.list li a {
  color: #f4f1e6;
  text-decoration: underline;
}
.tickerwrapper ul.list li a:hover {
  text-decoration: none;
}
.tickerwrapper ul.list.cloned {
  position: absolute;
  top: 0px;
  left: 0px;
}

.work {
  color: #5f6a3e;
  background-color: #f4f1e6;
  padding-top: 6rem;
  padding-bottom: 8rem;
}
.work .case-study {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
.work .case-study .poster-lg {
  width: 100%;
  height: 400px;
  overflow: hidden;
}
.work .case-study .poster-video {
  display: flex;
  align-items: center;
  justify-content: center;
}
.work .case-study .poster-padding {
  padding: 44px;
}
.work .case-study .poster-xs {
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.work .case-study img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 20px;
  transition-duration: 300ms;
}
.work .case-study img:hover {
  transform: scale(1.02);
}
.work .case-study video {
  width: 100%;
  height: auto;
  transition-duration: 300ms;
}
.work .case-study video:hover {
  transform: scale(1.02);
}
.work .case-study .details-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 24px 10px 10px;
}
.work .case-study .details-header h3 {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}
.work .case-study .details-header .details-box {
  display: flex;
  gap: 10px;
}
.work .case-study .details-header .details-box span {
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #5f6a3e;
  padding: 4px 12px;
  border-radius: 4px;
}
.work .case-study p {
  font-size: 16px;
  padding: 0 10px;
}
.work .case-study:hover h3 {
  text-decoration: underline;
}
.work .project-wrapper .project-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  padding: 20px;
}
.work .project-wrapper .project-box .project-details {
  display: flex;
  justify-content: end;
  gap: 14px;
}
.work .project-wrapper .project-box .project-details span {
  color: #5f6a3e;
  font-weight: 500;
  font-size: 14px;
  border: 1px solid #5f6a3e;
  padding: 10px 24px;
  border-radius: 4px;
}
.work .project-wrapper .project-box video {
  width: 100%;
  height: 100%;
}
.work .project-wrapper .project-box.project-one {
  background-color: #d0ddad;
}
.work .project-wrapper .project-box.project-two {
  background-color: lightblue;
}

.profile {
  color: #000;
  background-color: #f4f1e6;
  padding: 8rem 0;
}
.profile h2 {
  margin-top: -24px;
}
.profile h3 {
  margin-left: 40px;
}
.profile a {
  color: #ff3b00;
  text-decoration: underline;
}
.profile a:hover {
  color: #000;
}

.contact {
  padding-top: 2rem;
  padding-bottom: 6rem;
}
.contact .contact-info .contact-details {
  display: flex;
  gap: 60px;
}
.contact .contact-info .contact-details a {
  color: #ff3b00;
  display: flex;
  gap: 10px;
}
.contact .contact-info .contact-details a:hover {
  text-decoration: underline;
}/*# sourceMappingURL=styles.css.map */