* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

a,
button,
input {
  transition: all 260ms ease-in-out;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  font-optical-sizing: auto;
  font-kerning: normal;
  -webkit-font-kerning: normal;
  text-rendering: geometricPrecision;
  letter-spacing: 0.15px;
  background: #f4f1e6 url("/assets/bg.svg") no-repeat top/100%;
  color: #ff3b00;
  margin: 0 auto;
  overflow-wrap: break-word;
  max-width: 100vw;
  overflow-x: hidden;
}

.mdc-layout-grid__inner {
  max-width: 1300px;
  margin: 0 auto;
}

h2 {
  font-size: 4.625rem;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0;
}
@media (max-width: 539px) {
  h2 {
    font-size: 34px;
  }
}

h3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0;
}

p {
  font-size: 1.125rem;
  line-height: 1.5;
}
@media (min-width: 540px) and (max-width: 839px) {
  p {
    font-size: 1.25rem;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #5b663b;
}

ul {
  list-style: none;
  padding-left: 0;
}

.text-xl {
  font-size: 210px;
  line-height: 1;
  font-weight: 800;
  margin: 1.5rem auto 40px;
  text-transform: uppercase;
  margin-bottom: 0;
}
@media (max-width: 539px) {
  .text-xl {
    font-size: 64px;
  }
}
@media (min-width: 540px) and (max-width: 1023px) {
  .text-xl {
    font-size: 120px;
  }
}

.text-lg {
  font-size: 180px;
  line-height: 1;
  font-weight: 800;
  margin: 1.5rem auto 40px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}
@media (min-width: 840px) and (max-width: 1023px) {
  .text-lg {
    font-size: 140px;
  }
}
@media (min-width: 540px) and (max-width: 839px) {
  .text-lg {
    font-size: 100px;
  }
}
@media (max-width: 539px) {
  .text-lg {
    font-size: 60px;
  }
}

.text-md {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0;
}
@media (max-width: 839px) {
  .text-md {
    font-size: 28px;
  }
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  padding: 12px 20px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-bottom: 0.5px solid #ff3b00;
}
.navbar a,
.navbar span {
  font-size: 18px;
  color: #ff3b00;
  transition: opacity 0.2s ease-in-out;
}
.navbar a:hover,
.navbar span:hover {
  opacity: 0.6;
}
.navbar .nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Hamburger Icon */
  /* Mobile Styles */
}
.navbar .nav-content .nav-menu {
  display: flex;
  align-items: center;
  gap: 40px;
}
.navbar .nav-content .nav-menu li {
  list-style: none;
}
.navbar .nav-content .nav-menu .nav-item--social {
  display: flex;
  gap: 14px;
}
.navbar .nav-content .hamburger {
  display: none;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  z-index: 1100;
}
.navbar .nav-content .hamburger .bar {
  background-color: #ff3b00;
  width: 28px;
  height: 3px;
  margin: 2px 0;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}
.navbar .nav-content .hamburger.active .bar:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}
.navbar .nav-content .hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
.navbar .nav-content .hamburger.active .bar:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}
@media screen and (max-width: 839px) {
  .navbar .nav-content .hamburger {
    display: flex;
  }
  .navbar .nav-content .nav-menu {
    position: fixed;
    top: 0;
    right: -100%;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 30%;
    gap: 2rem;
    width: 70%;
    height: 100vh;
    background: #f4f1e6;
    transition: right 0.3s ease-in-out;
    border-left: 0.5px solid #ff3b00;
  }
  .navbar .nav-content .nav-menu.active {
    right: 0;
  }
  .navbar .nav-content .nav-menu a {
    font-size: 24px;
    font-weight: 600;
  }
  .navbar .nav-content .nav-menu a img {
    width: 44px;
    height: 44px;
  }
}

.skill-box {
  border-radius: 30px;
  border: 1px solid #ff3b00;
  color: #ff3b00;
  width: -moz-fit-content;
  width: fit-content;
  padding: 6px 18px;
}

.intro {
  position: relative;
  margin-top: 74px;
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.intro .intro-header {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.intro .intro-header h1 {
  margin-left: -10px;
}
@media (max-width: 1339px) {
  .intro .intro-header h1 {
    font-size: 120px;
    margin: 0;
  }
}
@media (max-width: 539px) {
  .intro .intro-header h1 {
    font-size: 74px;
    margin: 0;
  }
}
.intro .intro-header .intro-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-width: 70%;
}
.intro .intro-header .intro-skills .skill-box {
  transition: all 0.2s ease;
}
.intro .intro-header .intro-skills .skill-box:hover {
  transform: translateY(-4px);
  background-color: #fae2db;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.intro .intro-img {
  width: 42%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  opacity: 0.9;
  border-left: 0.5px solid #ff3b00;
}
@media (max-width: 839px) {
  .intro {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .intro .intro-header {
    gap: 10px;
  }
  .intro .intro-img {
    filter: grayscale(1);
    opacity: 0.4 !important;
  }
}

.tickerwrapper {
  color: #f4f1e6;
  background-color: rgb(64, 89, 121);
  height: 48px;
  line-height: 48px;
  width: 100%;
  overflow-x: hidden;
  cursor: pointer;
  position: relative;
}
.tickerwrapper ul.list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.tickerwrapper ul.list li {
  font-size: 16px;
  padding: 0 80px;
  flex-shrink: 0;
}
.tickerwrapper ul.list li a {
  color: #f4f1e6;
  text-decoration: underline;
}
.tickerwrapper ul.list li a:hover {
  text-decoration: none;
}

.projects {
  padding-top: 6rem;
  padding-bottom: 4rem;
  color: rgb(64, 89, 121);
  background-color: #f4f1e6;
  align-items: start;
}
@media screen and (min-width: 1024px) {
  .projects .projects-left {
    position: sticky;
    top: 100px;
    height: -moz-fit-content;
    height: fit-content;
  }
  .projects .projects-right {
    display: flex;
    flex-direction: column;
  }
}
.projects .projects-container .project {
  transition: all 0.2s;
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}
.projects .projects-container .project h3,
.projects .projects-container .project p {
  color: rgb(64, 89, 121);
}
.projects .projects-container .project h3 {
  margin-top: 0;
  text-transform: uppercase;
}
.projects .projects-container .project p {
  font-size: 1rem;
  margin-top: 4px;
  margin-bottom: 0;
}
.projects .projects-container .project .project-poster img,
.projects .projects-container .project .project-poster video {
  margin-top: 5px;
}
@media (max-width: 889px) {
  .projects .projects-container .project .project-poster img,
  .projects .projects-container .project .project-poster video {
    width: 100%;
    height: auto;
  }
}
@media screen and (min-width: 1024px) {
  .projects .projects-container .project:hover {
    background-color: #fae2db;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border: 1px solid #ff3b00;
    transform: translateY(-4px);
  }
  .projects .projects-container .project:hover h3,
  .projects .projects-container .project:hover p {
    color: #ff3b00;
  }
  .projects .projects-container .project:hover img,
  .projects .projects-container .project:hover video {
    filter: grayscale(1);
  }
}
@media (max-width: 889px) {
  .projects .projects-container {
    display: flex;
    flex-direction: column;
  }
  .projects .projects-container .project {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
  }
  .projects .projects-container .project h3 {
    font-size: 22px;
  }
  .projects .projects-container .project p {
    font-size: 18px;
  }
}
@media (max-width: 1023px) {
  .projects {
    padding-top: 4rem;
  }
  .projects .projects-wrapper {
    display: flex;
    flex-direction: column;
  }
}

.about {
  color: #f4f1e6;
  background-color: rgb(64, 89, 121);
  padding-top: 4rem;
  padding-bottom: 2rem;
}
.about a {
  color: #fa6a3e;
  text-decoration: underline;
}
.about a:hover {
  color: #f4f1e6;
}
@media screen and (min-width: 1024px) {
  .about {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  .about h2 {
    margin-top: -24px;
  }
  .about h3 {
    margin-left: 40px;
  }
}

#contact {
  padding-bottom: 4rem;
}
#contact .contact-info .contact-details {
  display: flex;
  gap: 60px;
}
#contact .contact-info .contact-details a {
  color: #ff3b00;
  display: flex;
  align-items: center;
  gap: 10px;
}
#contact .contact-info .contact-details a:hover {
  opacity: 0.5;
}
@media screen and (max-width: 539px) {
  #contact .contact-info .contact-details {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }
}
@media screen and (min-width: 1024px) {
  #contact {
    padding-top: 2rem;
    padding-bottom: 6rem;
  }
}

#footer {
  font-size: 16px;
  color: #f4f1e6;
  background-color: #ff3b00;
  padding-top: 1rem;
  padding-bottom: 1rem;
}/*# sourceMappingURL=styles.css.map */